<form class="login-form">
  <div class="input-group">
    <label for="username">Username</label>
    <input class="text-input" id="username" type="text" #usernameInput />
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input class="text-input" id="password" type="password" #passwordInput />
  </div>
  <div class="button-group">
    <button class="button" type="button" (click)="onLogin()">Login</button>
    <button class="button dark" type="button" (click)="onReturnHome()">Return Home</button>
  </div>
  <p *ngIf="error" class="error">{{ error.message }}</p>
</form>
