@import "../../../styles/_colors.scss";

.icon-button {
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: inherit;

  .pi {
    font-size: 1.325rem;
  }
  .primary {
    color: $main-brown;
  }
  .danger {
    color: $accent-color;
  }
}
