<div class="note-container">
  <div class="note-details">
    <h2 class="note-header">{{ note_details.heading }}</h2>
    <p class="note-content">{{ note_details.note }}</p>
  </div>
  <div class="note-buttons">
    <button-with-icon
      [icon_class]="'pi-pencil primary'"
      (buttonClick)="onToggleEdit()"
    ></button-with-icon>
    <button-with-icon
      [icon_class]="'pi-minus-circle danger'"
      (buttonClick)="onToggleRemove()"
    ></button-with-icon>
    <p class="note-date">{{ date }} {{ time }}</p>
  </div>
</div>
