@import "../../../styles/colors";

.note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem;
  margin-bottom: 0.5rem;

  border: 2px solid $main-brown;
  border-radius: 8px;
  background-color: $base-color;
  color: $main-brown;
  cursor: move;
  position: relative;

  .note-details {
    width: 75%;
  }
  .note-buttons {
    width: 25%;
  }
}
