<form class="login-form" (ngSubmit)="onLogin(f)" #f="ngForm">
  <div class="input-group">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      ngModel
      name="username"
      required
      #username="ngModel"
    />
    <span *ngIf="!username.valid && username.touched"
      >*Username can not be empty!</span
    >
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      ngModel
      name="password"
      required
      #password="ngModel"
    />
    <span *ngIf="!password.valid && password.touched"
      >*Username can not be empty!</span
    >
  </div>
  <div class="button-group">
    <button class="button primary" type="submit">Login</button>
    <button class="button danger" type="button" (click)="onReturnHome()">
      Return Home
    </button>
  </div>
  <span *ngIf="error" class="error">**{{ error.message }}</span>
</form>
