@import "../../styles/colors";

.home-container {
  font-size: 1.5rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    font-family: "Fira Sans", sans-serif;

    span {
      color: $accent-color;
      font-style: italic;
    }
  }
  ul {
    list-style: none;
    margin: 4rem 0;
    text-align: center;
    li {
      font-style: italic;
    }
  }
}
