@mixin button {
  color: $base-color;
  border: 2px solid $main-brown;
  border-radius: 7px;
  padding: 0.375rem 0.5rem;
  cursor: pointer;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;

  &.primary {
    background-color: $main-green;

    &:disabled {
      background-color: $main-brown;
      cursor: not-allowed;
      &:hover {
        background-color: $main-brown;
      }
    }

    &:hover {
      background-color: $green-hover;
    }
  }

  &.danger {
    background-color: $danger-color;
    &:hover {
      background-color: $danger-hover;
    }
  }
}
