@import "../../styles/variables.scss";
@import "./button.scss";
@import "./input.scss";

@mixin form-group {
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  color: $base-color;
  background-color: $accent-color;
  border: 3px solid $main-brown;
  border-radius: 25px;

  button {
    @include button;
  }

  input {
    @include input;
    margin-bottom: 0.5rem;
  }

  label {
    margin-bottom: 0.5rem;
  }

  input:focus {
    border-color: $main-green;
    outline: none;
  }
}
