@import "../../styles/mixins/form-group.scss";
@import "../../styles/mixins/button-group.scss";

.note-form {
  @include form-group;
  button {
    width: 50%;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .add-button {
    @include button;
    margin: 2rem 0;
  }
}
