@import "../../../styles/_colors.scss";
.container {
  position: fixed;
  width: 100vw;
  top: 0;
  margin-bottom: 1rem;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.375rem;
  background-color: $accent-color;
  border-bottom: 2px solid $main-brown;

  a {
    text-decoration: none;
    padding: 0.5rem;
    color: $main-brown;
  }
  a.active {
    text-decoration: underline;
    color: $base-color;
  }

  .header-link:hover {
    text-decoration: underline;
    color: $base-color;
  }
}
