@import "../../../styles/_colors.scss";
.container {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.375rem;
  background-color: $accent-color;
  border-bottom: 2px solid $main-brown;
  margin-bottom: 1rem;

  a {
    padding: 0.5rem;
    color: $main-brown;
    text-decoration: none;
  }
  a.active {
    text-decoration: underline;
    color: $base-color;
  }

  .header-link:hover {
    text-decoration: underline;
    color: $base-color;
  }
}
